caixa-1     WAVE "caixa1.wav"
caixa-2     WAVE "caixa2.wav"
caixa-3     WAVE "caixa3.wav"
caixa-4     WAVE "caixa4.wav"
caixa-5     WAVE "caixa5.wav"
caixa-6     WAVE "caixa6.wav"
caixa-7     WAVE "caixa7.wav"
caixa-8     WAVE "caixa8.wav"
caixa-9     WAVE "caixa9.wav"
caixa-10    WAVE "caixa10.wav"
tom-1       WAVE "tom1.wav"
tom-2       WAVE "tom2.wav"
tom-3       WAVE "tom3.wav"
tom-4       WAVE "tom4.wav"
tom-5       WAVE "tom5.wav"
tom-6       WAVE "tom6.wav"
tom-7       WAVE "tom7.wav"
tom-8       WAVE "tom8.wav"
tom-9       WAVE "tom9.wav"
chimbal-1   WAVE "chimbal1.wav"
chimbal-2   WAVE "chimbal2.wav"
chimbal-3   WAVE "chimbal3.wav"
chimbal-4   WAVE "chimbal4.wav"
chimbal-5   WAVE "chimbal5.wav"
chimbal-6   WAVE "chimbal6.wav"
agogo-1     WAVE "agogo1.wav"
agogo-2     WAVE "agogo2.wav"
sino-1      WAVE "sino1.wav"
sino-2      WAVE "sino2.wav"
bongo-1     WAVE "bongo1.wav"
bongo-2     WAVE "bongo2.wav"
bumbo-1     WAVE "bumbo1.wav"
bumbo-2     WAVE "bumbo2.wav"
bumbo-3     WAVE "bumbo3.wav"
bumbo-4     WAVE "bumbo4.wav"
bumbo-5     WAVE "bumbo5.wav"
bumbo-6     WAVE "bumbo6.wav"
bumbo-7     WAVE "bumbo7.wav"
bumbo-8     WAVE "bumbo8.wav"
bumbo-9     WAVE "bumbo9.wav"
baqueta-1   WAVE "baqueta1.wav"
ataque-1    WAVE "ataque1.wav"
ataque-2    WAVE "ataque2.wav"
ataque-3    WAVE "ataque3.wav"
ataque-4    WAVE "ataque4.wav"
ataque-5    WAVE "ataque5.wav"
ataque-6    WAVE "ataque6.wav"
reco-1      WAVE "reco1.wav"
reco-2      WAVE "reco2.wav"
conduc-1    WAVE "conduc1.wav"
conduc-2    WAVE "conduc2.wav"
conduc-3    WAVE "conduc3.wav"
conduc-4    WAVE "conduc4.wav"
conduc-5    WAVE "conduc5.wav"
conduc-6    WAVE "conduc6.wav"

LogoDecarva     BITMAP "decarva-logo.bmp"
LoboMexicano    BITMAP "foto-lobo-mexicano-wikipedia-us-fish-and-wildlife-service.bmp"
VanGogh-1       BITMAP "wikipedia-vangogh-girassois-1.bmp"
VanGogh-2       BITMAP "wikipedia-vangogh-girassois-3.bmp"
VanGogh-3       BITMAP "wikipedia-vangogh-girassois-4.bmp"
VanGogh-4       BITMAP "wikipedia-vangogh-girassois-5.bmp"
VanGogh-5       BITMAP "wikipedia-vangogh-girassois-6.bmp"
VanGogh-Quarto  BITMAP "wikipedia-vangogh-quarto.bmp"
Foto-Rio-1      BITMAP "wikipedia-foto-livre-RIO_DE_JANEIRO.bmp"
Foto-BH-1       BITMAP "wikipedia-foto-livre-Praca_da_Liberdade_BH.bmp"
Foto-BH-2       BITMAP "wikipedia-foto-livre-Serra_do_Curral_BH.bmp"
Angra-1         BITMAP "angra1.bmp"
Modigliani-1    BITMAP "wikipedia-modigliani-1.bmp"
Modigliani-2    BITMAP "wikipedia-modigliani-2.bmp"
Modigliani-3    BITMAP "wikipedia-modigliani-3.bmp"
Renoir-1        BITMAP "wikipedia-renoir-1.bmp"
Amelia-1        BITMAP "amelia-gato-vermelho.bmp"
Gauguin-1       BITMAP "wikipedia-gauguin.bmp"
Caravaggio-1    BITMAP "wikipedia-caravaggio-1.bmp"

Bmp-Ola                  BITMAP "bmp-olá.bmp"
Bmp-Fato-ou-Fita         BITMAP "bmp-fato-ou-fita.bmp"
Bmp-Retangulo            BITMAP "bmp-retângulo.bmp"
Bmp-Circulo              BITMAP "bmp-círculo.bmp"
Bmp-Triangulo            BITMAP "bmp-triângulo.bmp"
Bmp-Linha                BITMAP "bmp-linha.bmp"
Bmp-Linhas               BITMAP "bmp-linhas.bmp"
Bmp-Retangulos-Coloridos BITMAP "bmp-retângulos-coloridos.bmp"
Bmp-Tamanhos-Caneta      BITMAP "bmp-tamanhos-caneta.bmp"
Bmp-Estilos-Caneta       BITMAP "bmp-estilos-caneta.bmp"
Bmp-Texto-Grafico        BITMAP "bmp-texto-gráfico.bmp"
Bmp-Quadrados            BITMAP "bmp-quadrados.bmp"
Bmp-Sucessor             BITMAP "bmp-sucessor.bmp"
Bmp-Metade               BITMAP "bmp-metade.bmp"
Bmp-Metade-2             BITMAP "bmp-metade-2.bmp"
Bmp-Clicou               BITMAP "bmp-clicou.bmp"
Bmp-Clicou-Aqui          BITMAP "bmp-clicou-aqui.bmp"
Bmp-Clicou-Aqui-Oval     BITMAP "bmp-clicou-aqui-oval.bmp"
Bmp-Clicou-na-Linha      BITMAP "bmp-clicou-na-linha.bmp"
Bmp-Esquerda-ou-Direita  BITMAP "bmp-esquerda-ou-direita.bmp"
Bmp-No-Corredor          BITMAP "bmp-no-corredor.bmp"
Bmp-Fora-do-Corredor     BITMAP "bmp-fora-do-corredor.bmp"
Bmp-Nove-Retangulos      BITMAP "bmp-nove-retângulos.bmp"
Bmp-Retangulos           BITMAP "bmp-retângulos.bmp"
Bmp-Cone-Curvo           BITMAP "bmp-cone-curvo.bmp"
Bmp-Tab-Quadrados        BITMAP "bmp-tab-quadrados.bmp"
Bmp-Curvas-Bezier        BITMAP "bmp-curvas-bezier.bmp"
Bmp-Clica-no-Retangulo   BITMAP "bmp-clica-no-retângulo.bmp"
Bmp-N-Cliques            BITMAP "bmp-n-cliques.bmp"
Bmp-Arco-Fatia           BITMAP "bmp-arco-fatia.bmp"
Bmp-Fatias-Coloridas     BITMAP "bmp-fatias-coloridas.bmp"
Bmp-Tres-Figuras         BITMAP "bmp-três-figuras.bmp"
Bmp-P1p2p3               BITMAP "bmp-p1p2p3.bmp"
Bmp-Robo                 BITMAP "bmp-robô.bmp"
Bmp-Marcas               BITMAP "bmp-marcas.bmp"
Bmp-Tamanho-Texto        BITMAP "bmp-tamanho-texto.bmp"
Bmp-Caracteres           BITMAP "bmp-caracteres.bmp"
Bmp-Ovais                BITMAP "bmp-ovais.bmp"
Bmp-Menor                BITMAP "bmp-menor.bmp"
Bmp-Texto-Invertido      BITMAP "bmp-inverte.bmp"
Bmp-Primeiras-Teclas     BITMAP "bmp-primeiras-teclas.bmp"
Bmp-Eventos              BITMAP "bmp-eventos.bmp"
Bmp-Aloc-Var-Local       BITMAP "bmp-aloc-var-local.bmp"
Bmp-Passagem-Args        BITMAP "bmp-passagem-args.bmp"
Bmp-Linhas-Conectadas    BITMAP "bmp-linhas-conectadas.bmp"
Bmp-Raios                BITMAP "bmp-raios.bmp"
Bmp-Desenho-com-Mouse    BITMAP "bmp-desenho-com-mouse.bmp"
Bmp-Coord-Mouse          BITMAP "bmp-coord-mouse.bmp"
Bmp-Figuras-Aleatorias   BITMAP "bmp-figuras-aleatórias.bmp"
Bmp-Spray                BITMAP "bmp-spray.bmp"
Bmp-Contagem-Regressiva  BITMAP "bmp-contagem-regressiva.bmp"
Bmp-Contagem-Regressiva-Dez BITMAP "bmp-contagem-regressiva-dez.bmp"
Bmp-Tic-Tac              BITMAP "bmp-tic-tac.bmp"
Bmp-Gary-Chaffee-Idea-2  BITMAP "bmp-gary-chaffee-idea-2.bmp"
Bmp-Arranjo-Simples      BITMAP "bmp-arranjo-simples.bmp"
Bmp-Pontos-Conectados    BITMAP "bmp-pontos-conectados.bmp"
Bmp-Mesa-de-Bilhar       BITMAP "bmp-mesa-de-bilhar.bmp"
Bmp-Figuras-Aleatorias-Jan BITMAP "bmp-figuras-aleatórias-jan.bmp"
Bmp-Itens-Graficos       BITMAP "bmp-itens-gráficos.bmp"
Bmp-Edita-Rotulo         BITMAP "bmp-edita-rótulo.bmp"
Bmp-Eventos-de-Itens     BITMAP "bmp-eventos-de-itens.bmp"
Bmp-Foto-Rio             BITMAP "bmp-foto-rio.bmp"
Bmp-Moldura              BITMAP "bmp-moldura.bmp"
Bmp-Inverte-Arq          BITMAP "bmp-inverte-arq.bmp"
Bmp-Ponteiros            BITMAP "bmp-ponteiros.bmp"
Bmp-Serpente             BITMAP "bmp-serpente.bmp"
Bmp-Quadrado-no-Clique   BITMAP "bmp-quadrado-no-clique.bmp"
Bmp-Jogo-do-Caos         BITMAP "bmp-jogo-do-caos.bmp"
Bmp-Estrela              BITMAP "bmp-estrela.bmp"
Bmp-Recursao-Enquanto    BITMAP "bmp-recursão-enquanto.bmp"
Bmp-Tri-Sierp            BITMAP "bmp-tri-sierp.bmp"
Bmp-Fatorial             BITMAP "bmp-fatorial.bmp"
Bmp-Teste-Ordenacao-Visual      BITMAP "bmp-teste-ordenação-visual.bmp"
Bmp-Oito-Rainhas         BITMAP "bmp-oito-rainhas.bmp"
Bmp-Arvore-Bin-Psq       BITMAP "bmp-árvore-bin-psq.bmp"

Bmp-Andromeda            BITMAP "bmp-andrômeda.bmp"
Bmp-Estrela-Fractal      BITMAP "bmp-estrela-fractal.bmp"
Bmp-Pintor               BITMAP "bmp-pintor.bmp"
Bmp-Reveillon            BITMAP "bmp-reveillon.bmp"
Bmp-Curva-de-Sierpinski  BITMAP "bmp-curva-de-sierpinski.bmp"
Bmp-Fractais-MRCM        BITMAP "bmp-fractais-mrcm.bmp"
Bmp-Jogo-da-Memoria      BITMAP "bmp-jogo-da-memória.bmp"
Bmp-Curva-de-Hilbert     BITMAP "bmp-curva-de-hilbert.bmp"

Arq-Ola                  RCDATA "prgs\\olá.lbr"
Arq-Fato-ou-Fita         RCDATA "prgs\\fato-ou-fita.lbr"
Arq-Retangulo            RCDATA "prgs\\retângulo.lbr"
Arq-Circulo              RCDATA "prgs\\círculo.lbr"
Arq-Triangulo            RCDATA "prgs\\triângulo.lbr"
Arq-Linha                RCDATA "prgs\\linha.lbr"
Arq-Linhas               RCDATA "prgs\\linhas.lbr"
Arq-Retangulos-Coloridos RCDATA "prgs\\retângulos-coloridos.lbr"
Arq-Tamanhos-Caneta      RCDATA "prgs\\tamanhos-caneta.lbr"
Arq-Estilos-Caneta       RCDATA "prgs\\estilos-caneta.lbr"
Arq-Texto-Grafico        RCDATA "prgs\\texto-gráfico.lbr"
Arq-Quadrados            RCDATA "prgs\\quadrados.lbr"
Arq-Sucessor             RCDATA "prgs\\sucessor.lbr"
Arq-Metade               RCDATA "prgs\\metade.lbr"
Arq-Metade-2             RCDATA "prgs\\metade-2.lbr"
Arq-Clicou               RCDATA "prgs\\clicou.lbr"
Arq-Clicou-Aqui          RCDATA "prgs\\clicou-aqui.lbr"
Arq-Clicou-Aqui-Oval     RCDATA "prgs\\clicou-aqui-oval.lbr"
Arq-Clicou-na-Linha      RCDATA "prgs\\clicou-na-linha.lbr"
Arq-Esquerda-ou-Direita  RCDATA "prgs\\esquerda-ou-direita.lbr"
Arq-No-Corredor          RCDATA "prgs\\no-corredor.lbr"
Arq-Fora-do-Corredor     RCDATA "prgs\\fora-do-corredor.lbr"
Arq-Nove-Retangulos      RCDATA "prgs\\nove-retângulos.lbr"
Arq-Retangulos           RCDATA "prgs\\retângulos.lbr"
Arq-Cone-Curvo           RCDATA "prgs\\cone-curvo.lbr"
Arq-Tab-Quadrados        RCDATA "prgs\\tab-quadrados.lbr"
Arq-Curvas-Bezier        RCDATA "prgs\\curvas-bezier.lbr"
Arq-Clica-no-Retangulo   RCDATA "prgs\\clica-no-retângulo.lbr"
Arq-N-Cliques            RCDATA "prgs\\n-cliques.lbr"
Arq-Arco-Fatia           RCDATA "prgs\\arco-fatia.lbr"
Arq-Fatias-Coloridas     RCDATA "prgs\\fatias-coloridas.lbr"
Arq-Tres-Figuras         RCDATA "prgs\\três-figuras.lbr"
Arq-P1p2p3               RCDATA "prgs\\p1p2p3.lbr"
Arq-Robo                 RCDATA "prgs\\robô.lbr"
Arq-Marcas               RCDATA "prgs\\marcas.lbr"
Arq-Tamanho-Texto        RCDATA "prgs\\tamanho-texto.lbr"
Arq-Caracteres           RCDATA "prgs\\caracteres.lbr"
Arq-Ovais                RCDATA "prgs\\ovais.lbr"
Arq-Menor                RCDATA "prgs\\menor.lbr"
Arq-Texto-Invertido      RCDATA "prgs\\inverte.lbr"
Arq-Primeiras-Teclas     RCDATA "prgs\\primeiras-teclas.lbr"
Arq-Eventos              RCDATA "prgs\\eventos.lbr"
Arq-Aloc-Var-Local       RCDATA "prgs\\aloc-var-local.lbr"
Arq-Passagem-Args        RCDATA "prgs\\passagem-args.lbr"
Arq-Linhas-Conectadas    RCDATA "prgs\\linhas-conectadas.lbr"
Arq-Raios                RCDATA "prgs\\raios.lbr"
Arq-Desenho-com-Mouse    RCDATA "prgs\\desenho-com-mouse.lbr"
Arq-Coord-Mouse          RCDATA "prgs\\coord-mouse.lbr"
Arq-Figuras-Aleatorias   RCDATA "prgs\\figuras-aleatórias.lbr"
Arq-Spray                RCDATA "prgs\\spray.lbr"
Arq-Contagem-Regressiva  RCDATA "prgs\\contagem-regressiva.lbr"
Arq-Contagem-Regressiva-Dez RCDATA "prgs\\contagem-regressiva-dez.lbr"
Arq-Tic-Tac              RCDATA "prgs\\tic-tac.lbr"
Arq-Gary-Chaffee-Idea-2  RCDATA "prgs\\gary-chaffee-idea-2.lbr"
Arq-Arranjo-Simples      RCDATA "prgs\\arranjo-simples.lbr"
Arq-Pontos-Conectados    RCDATA "prgs\\pontos-conectados.lbr"
Arq-Mesa-de-Bilhar       RCDATA "prgs\\mesa-de-bilhar.lbr"
Arq-Figuras-Aleatorias-Jan RCDATA "prgs\\figuras-aleatórias-jan.lbr"
Arq-Itens-Graficos       RCDATA "prgs\\itens-gráficos.lbr"
Arq-Edita-Rotulo         RCDATA "prgs\\edita-rótulo.lbr"
Arq-Eventos-de-Itens     RCDATA "prgs\\eventos-de-itens.lbr"
Arq-Foto-Rio             RCDATA "prgs\\foto-rio.lbr"
Arq-Moldura              RCDATA "prgs\\moldura.lbr"
Arq-Inverte-Arq          RCDATA "prgs\\inverte-arq.lbr"
Arq-Ponteiros            RCDATA "prgs\\ponteiros.lbr"
Arq-Serpente             RCDATA "prgs\\serpente.lbr"
Arq-Quadrado-no-Clique   RCDATA "prgs\\quadrado-no-clique.lbr"
Arq-Jogo-do-Caos         RCDATA "prgs\\jogo-do-caos.lbr"
Arq-Estrela              RCDATA "prgs\\estrela.lbr"
Arq-Recursao-Enquanto    RCDATA "prgs\\recursão-enquanto.lbr"
Arq-Tri-Sierp            RCDATA "prgs\\tri-sierp.lbr"
Arq-Fatorial             RCDATA "prgs\\fatorial.lbr"

Arq-Oito-Rainhas         RCDATA "prgs\\oito-rainhas.lbr"
Arq-Teste-Ordenacao-Visual RCDATA "prgs\\teste-ordenação-visual.lbr"
Arq-Arvore-Bin-Psq       RCDATA "prgs\\árvore-bin-psq.lbr"

Arq-Andromeda            RCDATA "prgs\\andrômeda.lbr"
Arq-Estrela-Fractal      RCDATA "prgs\\estrela-fractal.lbr"
Arq-Pintor               RCDATA "prgs\\pintor.lbr"
Arq-Reveillon            RCDATA "prgs\\reveillon.lbr"
Arq-Curva-de-Sierpinski  RCDATA "prgs\\curva-sierp.lbr"
Arq-Fractais-MRCM        RCDATA "prgs\\fractais-mrcm.lbr"
Arq-Jogo-da-Memoria      RCDATA "prgs\\jogo-da-memória.lbr"
Arq-Curva-de-Hilbert     RCDATA "prgs\\curva-de-hilbert.lbr"
